<!DOCTYPE html>
<html>
  <head>
    <title>Base Template</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Share Planner</h1>
        <div id="banner">
          <a href="{{ url_for('home')}}">Log-in</a> 
          <a href="{{ url_for('landing')}}">Home</0></a>
          <a href="{{ url_for('read')}}">See all Items</a>
        </div>
      </header>
      <main>{% block container %} {% endblock %}</main>
      <footer>
        <div class="icon, work" style="width: 15px; height: 15px;"></div>
        <div class="icon, school" style="width: 20px; height: 20px;"></div>
        <div class="icon, home" style="width: 25px; height: 25px;"></div>
        <div class="icon, outside" style="width: 30px; height: 30px;"></div>
        <div class="icon, social" style="width: 35px; height: 35px;"></div>
      </footer>
    </div>
  </body>
</html>
