<!DOCTYPE html>
{% extends 'base.html' %}

{% block container %}
<link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
<h2>Log-in or Create an account if you don't already have one!</h2>
<a href="{{ url_for('signup')}}"><div id="mainButton">Sign Up</div></a>
<a href="{{ url_for('login')}}"><div id="mainButton">Log In</div></a>
{% endblock %}

<!--
<html>
  <head>
    <title>Home page</title>
    <link
      rel="stylesheet"
      href=" {{ url_for('static', filename='css/style.css') }} "     
    />
  </head>
  <body>
    <div class="container">
      <div id="homeHeader">
        <div class="icon, social" style="width: 35px; height: 35px;"></div>
        <div class="icon, outside" style="width: 30px; height: 30px;"></div>
        <div class="icon, home" style="width: 25px; height: 25px;"></div>
        <div class="icon, school" style="width: 20px; height: 20px;"></div>
        <div class="icon, work" style="width: 15px; height: 15px;"></div>
      </div>
      <main>
        <h2>Log-in or Create an account if you don't already have one!</h2>
        <a href="{{ url_for('signup')}}"><div id="mainButton">Sign Up</div></a>
        <a href="{{ url_for('login')}}"><div id="mainButton">Log In</div></a>  
      </main>
      <footer>
        <div class="icon, work" style="width: 15px; height: 15px;"></div>
        <div class="icon, school" style="width: 20px; height: 20px;"></div>
        <div class="icon, home" style="width: 25px; height: 25px;"></div>
        <div class="icon, outside" style="width: 30px; height: 30px;"></div>
        <div class="icon, social" style="width: 35px; height: 35px;"></div>
      </footer>
    </div>
  </body>
</html>
-->